html, body {
  background: #333;
  color: #eee;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wrapper>section {
  display: grid;
  align-items: center;
  justify-content: center;
}

.button-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

button {
  background: #ff69b4;
  border: 5px solid #ee58a3;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #eee;
  margin: 5px;
  text-align: center;
}
button:hover {
  background: #33001a;
  border: 5px solid #220009;
}

p {
  font-size: 3rem;
  font-weight: bold;
}